// text
$medium: 500;
$regular: 400;
$inter: 'Inter', sans-serif;
$roboto: 'Roboto', sans-serif;

// color
$black-100: #000000;
$black-80: #343434;
$black-60: #626262;
$black-40: #959595;
$black-20: #cccccc;
$black-10: #e8e8e8;
$white: #ffffff;
