footer {
  margin-top: auto;
}

.footer-top {
  padding: 46px 0 52px;
  border-top: 1px solid $black-20;
  li {
    color: $black-60;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 32px;
    @include v-lg {
      grid-template-columns: repeat(2, 1fr);
    }
    @include v-sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__wrapper {
    display: flex;
    gap: 30px;
    height: 100%;
  }

  &__header {
    margin: 0 0 30px;
    font-size: 16px;
    font-weight: $regular;
    color: $black-80;
  }

  &__list {
    li {
      margin-top: 20px;
    }
  }

  &__list-media {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      height: 24px;
      cursor: pointer;
    }
  }
}

.footer-bottom {
  color: $white;
  background-color: $black-80;
  padding: 38px 0;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    @include v-lg {
      flex-direction: column;
    }
  }

  &__nav {
    text-transform: uppercase;
    font-size: 14px;
    @include v-sm {
      margin-right: auto;
    }
  }

  &__nav-list {
    display: flex;
    gap: 30px;
    @include v-sm {
      flex-direction: column;
    }
  }

  &__no-copyright {
    font-size: 12px;
  }
}
